
.control-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.control-login input{
    margin: 10px;
    border: transparent 1px solid;
    border-radius: 5px;
    width: 90%;  
    padding: 10px;
}

.control-login button{
    padding: 10px;
    background-color: #1259c3;
    border-radius:5px ;     
    color:white;
}

.login button:hover{
    background-color: #0022AA;
    color: white;
}


input:required {
    background-color: antiquewhite;
    border-width: 3px;
  } 

  
  
  input:invalid {
    background-color: #ffdddd;
  }